
body {

    text-decoration: none;
    color:blck;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: blue;
}
nav{
    color: red
}
